@use "./../../../../styles.scss" as *;

#container{
    height: 80px;
    display: flex;
    background-color: $color-principal-claro;
    border-radius: 10px;
    overflow: hidden;
}

#foto{
    height: 100%;
    flex: 2;
    width: 25%;
    background-size: cover;
    background-position: center;
}

#details{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

h4{
    font-weight: bold;
    margin-bottom: 5px;
}

ul li{
    display: inline;
    font-size: small;
    &:not(:last-of-type)::after {
        content: ", ";
    }
}

#precio{
    text-align: end;
    font-weight: bold;
}