div{
    width: 150px;
    height: 150px;
    background-color: rgb(142, 142, 142);
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
}

h3{
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.86);
}